version: '3.6'


# ==========================================
# ||             Networking               ||
# ==========================================
networks:
  proxy:
    external: true
  internal:
    external: false


services:

# ==========================================
# ||             Management               ||
# ==========================================

# -------------- Portainer -----------------
  portainer:
    image: portainer/portainer
    container_name: portainer
    restart: always
    networks:
      - internal
      - proxy
    ports:
      - 7000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${USERDIR}/docker/portainer/data:/data
      - ${USERDIR}/docker/shared:/shared
    command: -H unix:///var/run/docker.sock
    environment:
      - TZ=${TZ}
    labels:
      - traefik.backend=portainer
      - traefik.frontend.rule=Host:portainer.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=9000

# -------------- Watchtower ----------------
  watchtower:
    image: v2tec/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --schedule "0 0 4 * * *" --cleanup


# -------------- Traefik ----------------
  traefik:
    image: traefik
    container_name: traefik
    restart: always
    networks:
      - proxy
      - internal
    ports:
      - 80:80
      - 443:443
      - 7004:8080
    volumes:
      - ${USERDIR}/docker/traefik:/etc/traefik
      - ${USERDIR}/docker/shared:/shared
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: --docker
    labels:
      - traefik.backend=traefik
      - traefik.frontend.rule=Host:traefik.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=8080


# -------------- PhpMyAdmin ----------------
#  phpmyadmin:
#    image: phpmyadmin/phpmyadmin
#    container_name: phpmyadmin
#    restart: always
#    networks:
#      - proxy
#      - internal
#    links:
#      - mariadb:db
#    ports:
#      - 7001:80
#    environment:
#      - PMA_HOST=mariadb
#      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
#    labels:
#      - traefik.backend=phpmyadmin
#      - traefik.frontend.rule=Host:phpmyadmin.andrewgeltz.com
#      - traefik.docker.network=proxy
#      - traefik.port=80


# -------------- Adminer ----------------
  adminer:
    image: adminer
    container_name: adminer
    restart: always
    links:
      - mariadb
    networks:
      - proxy
      - internal
    ports:
      - 7001:8080
    environment:
      - ADMINER_DEFAULT_SERVER=mariadb
    labels:
      - traefik.backend=adminer
      - traefik.frontend.rule=Host:adminer.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=8080


# ----------------- Guacd -------------------
  guacd:
    image: guacamole/guacd
    container_name: guacd
    restart: always
    networks:
      - internal
    labels:
      - traefik.enable=false


# ------------ Guacamole Server -------------
  guacamole:
    image: guacamole/guacamole
    container_name: guacamole
    restart: always
    links:
      - guacd:guacd
    networks:
      - proxy
      - internal
    ports:
      - 7003:8080
    volumes:
      - /${USERDIR}/docker/guacamole:/guac-home
    environment:
      - GUACAMOLE_HOME=/guac-home
    labels:
      - traefik.backend=guacamole
      - traefik.frontend.rule=Host:guacamole.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=8080
      - traefik.enable=false


# ==========================================
# ||                Misc                  ||
# ==========================================

# --------------- Nextcloud ----------------
  nextcloud:
    image: nextcloud
    container_name: nextcloud
    restart: always
    networks:
      - proxy
    ports:
      - 7005:80
    links:
      - mariadb:db
    volumes:
      - ${USERDIR}/docker/nextcloud:/config
      - /mnt/data/nextcloud/data:/data
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    labels:
      - traefik.backend=nextcloud
      - traefik.frontend.rule=Host:nextcloud.andrewgeltz.com
      - traefik.frontend.rule=Host:cloud.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=80


# ------------ Home Assistant --------------
  homeassistant:
    image: homeassistant/home-assistant
    container_name: homeassistant
    restart: always
    networks:
      - proxy
    ports:
      - 7006:8123
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1
      - /dev/ttyACM0:/dev/ttyACM0
    volumes:
      - ${USERDIR}/docker/homeassistant:/config
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    privileged: true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - traefik.backend=homeassistant
      - traefik.frontend.rule=Host:ha.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=8123


# --------------- Mariadb ------------------
  mariadb:
    image: linuxserver/mariadb
    container_name: mariadb
    hostname: mariadb
    restart: always
    networks:
      - internal
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        mode: host
    volumes:
      - ${USERDIR}/docker/mariadb:/config
      - ${USERDIR}/docker/mariadb/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - traefik.enable=false
 
 # -------------- Mumble ----------------
  mumble:
    image: coppit/mumble-server
    container_name: mumble
    restart: always
    networks:
      - proxy
    ports:
      - 64738:64738
      - 64738:64738/udp
    volumes:
      - ${USERDIR}/docker/mumble:/data
    labels:
      - traefik.backend=mumble
      - traefik.frontend.rule=Host:mumble.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=64738


# ----------------- Squid ------------------
  squid:
    image: sameersbn/squid
    container_name: squid
    restart: always
    networks:
      - proxy
    ports:
      - 7008:3218
    volumes:
      - ${USERDIR}/docker/squid:/etc/squid/
      - ${USERDIR}/docker/squid/cache:/var/spool/squid


# ==========================================
# ||                Media                 ||
# ==========================================

# ----------------- Plex -------------------
  plex:
    image: plexinc/pms-docker
    container_name: plex
    restart: always
    networks:
      - proxy
    ports:
      - 32400:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    expose:
      - 32400
    volumes:
      - ${USERDIR}/docker/plex:/config
      - ${USERDIR}/downloads/plex_tmp:/transcode
      - /mnt/data/media:/media
      - ${USERDIR}/docker/shared:/shared
    environment:
      - TZ=${TZ}
      - ADVERTISE_IP:http://192.168.1.101:32400
      - HOSTNAME="DockerPlex"
      - PLEX_CLAIM="claim-xm5qpLYJGxX2gBjZN9UH"
      - PLEX_UID=${PUID}
      - PLEX_GID=${PGID}
    labels:
      - traefik.backend=plex
      - traefik.frontend.rule=Host:plex.andrewgeltz.com
      - traefik.port=32400
      - traefik.docker.network=proxy

# ---------------- Sonarr ------------------
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    restart: always
    networks:
      - proxy
    ports:
      - 7013:8989
    volumes:
      - ${USERDIR}/docker/sonarr:/config
      - /mnt/data/downloads:/downloads
      - /mnt/data/media/tv:/tv
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.backend=sonarr
      - traefik.frontend.rule=Host:sonarr.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=8989


# ---------------- Radarr ------------------
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    restart: always
    networks:
      - proxy
    ports:
      - 7012:7878
    volumes:
      - ${USERDIR}/docker/radarr:/config
      - /mnt/data/downloads:/downloads
      - /mnt/data/media/movies:/movies
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - traefik.backend=radarr
      - traefik.frontend.rule=Host:radarr.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=7878


# ---------------- Sabnzbd -----------------
  sabnzbd:
    image: linuxserver/sabnzbd
    container_name: sabnzbd
    restart: always
    networks:
      - proxy
    ports:
      - 7011:8080
    volumes:
      - ${USERDIR}/docker/sabnzbd:/config
      - /mnt/data/downloads:/downloads
      - /mnt/data/downloads/incomplete:/incomplete-downloads
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - traefik.backend=sabnzbd
      - traefik.frontend.rule=Host:sabnzbd.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=8080


# ------------- Transmission ---------------
#  transmission:
#    image: linuxserver/transmission
#    container_name: transmission
#    restart: always
#    networks:
#      - proxy
#    ports:
#      - 7010:9091
#      - 51413:51413
#      - 51413:51413/udp
#    volumes:
#      - ${USERDIR}/docker/transmission:/config
#      - /mnt/data/downloads/torrents:/downloads
#    environment:
#      - PUID=${PUID}
#      - PGID=${PGID}
#      - TZ=${TZ}
#    labels:
#      - traefik.backend=transmission
#      - traefik.frontend.rule=Host:transmission.andrewgeltz.com
#      - traefik.docker.network=proxy
#      - traefik.port=9091


# ------------- qBittorrent ---------------
  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: "qbittorrent"
    restart: always
    ports:
      - 7010:7010
      - 6881:6881
      - 6881:6881/udp
    volumes:
      - ${USERDIR}/docker/qbittorrent:/config
      - /mnt/data/downloads:/downloads
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK_SET=002
      - WEBUI_PORT=7010
    labels:
      - traefik.backend=qbittorrent
      - traefik.frontend.rule=Host:qbittorrent.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=7010


# --------------- Tautulli -----------------
  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    restart: always
    networks:
      - proxy
    ports:
      - 7014:8181
    volumes:
      - ${USERDIR}/docker/tautulli/config:/config
      - ${USERDIR}/docker/tautulli/logs:/logs:ro
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - traefik.backend=tautulli
      - traefik.frontend.rule=Host:tautulli.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=8181


# ----------------- Ombi -------------------
  ombi:
    image: linuxserver/ombi
    container_name: ombi
    restart: always
    networks:
      - proxy
    ports:
      - 7015:3579
    volumes:
      - ${USERDIR}/docker/ombi:/config
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - traefik.backend=ombi
      - traefik.frontend.rule=Host:ombi.andrewgeltz.com
      - traefik.frontend.rule=Host:requests.andrewgeltz.com
      - traefik.frontend.rule=Host:request.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=3579


# --------------- Organizr -----------------
  organizr:
    image: lsiocommunity/organizr
    container_name: organizr
    restart: always
    networks:
      - proxy
    ports:
      - 7002:80
    volumes:
      - ${USERDIR}/docker/organizr:/config
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - traefik.backend=organizr
      - traefik.frontend.rule=Host:organizr.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=80


# --------------- NzbHydra -----------------
#  nzbhydra:
#    image: linuxserver/hydra2
#    container_name: nzbhydra
#    restart: always
#    networks:
#      - proxy
#    ports:
#      - 7016:5076
#    volumes:
#      - ${USERDIR}/docker/nzbhydra:/config
#      - /mnt/data/downloads:/downloads
#      - ${USERDIR}/docker/shared:/shared
#    environment:
#      - PUID=${PUID}
#      - PGID=${PGID}
#      - TZ=${TZ}
#    labels:
#      - traefik.backend=nazbhydra
#      - traefik.frontend.rule=Host:nzbhydra.andrewgeltz.com
#      - traefik.docker.network=proxy
#      - traefik.port=5076

# --------------- Jackett ------------------
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    restart: always
    networks:
      - proxy
    ports:
      - 7017:9117
    volumes:
      - ${USERDIR}/docker/jackett:/config
      - /mnt/data/downloads:/downloads
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - traefik.backend=jackett
      - traefik.frontend.rule=Host:jackett.andrewgeltz.com
      - traefik.docker.network=proxy
      - traefik.port=9117
    
