version: '3'
services: 

# ==========================================
# ||             Management               ||
# ==========================================

# -------------- Portainer -----------------
  portainer:
    image: portainer/portainer
    container_name: portainer
    restart: always
    command: -H unix:///var/run/docker.sock
    ports:
      - "7000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${USERDIR}/docker/portainer/data:/data
      - ${USERDIR}/docker/shared:/shared
    environment:
      - TZ=${TZ}

# -------------- Watchtower ----------------
  watchtower:
    image: v2tec/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json


# ==========================================
# ||                Misc                  ||
# ==========================================

# --------------- Nextcloud ----------------

# ------------ Home Assistant --------------

# --------------- Mariadb ------------------

# -------------- PhpMyAdmin ----------------



# ==========================================
# ||                Media                 ||
# ==========================================

# ----------------- Plex -------------------

# ---------------- Sonarr ------------------

# ---------------- Radarr ------------------

# ---------------- Sabnzbd -----------------

# ------------- Transmission ---------------

# --------------- Tautulli -----------------

# ----------------- Ombi -------------------

# --------------- Organizr -----------------

# --------------- NzbHydra -----------------

# --------------- Jackett ------------------
