version: '3.6'
services: 

# ==========================================
# ||             Management               ||
# ==========================================

# -------------- Portainer -----------------
  portainer:
    image: portainer/portainer
    container_name: portainer
    restart: always
    command: -H unix:///var/run/docker.sock
    ports:
      - "7000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${USERDIR}/docker/portainer/data:/data
      - ${USERDIR}/docker/shared:/shared
    environment:
      - TZ=${TZ}

# -------------- Watchtower ----------------
  watchtower:
    image: v2tec/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --schedule "0 0 4 * * *" --cleanup

# -------------- PhpMyAdmin ----------------
  phpmyadmin:
    hostname: phpmyadmin
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin
    restart: always
    links:
      - mariadb:db
    ports:
      - 7001:80
    environment:
      - PMA_HOST=mariadb
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}


# ==========================================
# ||                Misc                  ||
# ==========================================

# --------------- Nextcloud ----------------
  nextcloud:
    image: linuxserver/nextcloud
    container_name: nextcloud
    restart: always
    ports:
      - 7005:80
    volumes:
      - ${USERDIR}/docker/nextcloud:/config
      - ${USERDIR}/shared_data:/data
      - ${USERDIR}/docker/shared:/shared
    envrionment:
      - PUID=${PUID}
      - PGID=${PGID}


# ------------ Home Assistant --------------
  homeassistant:
    image: homeassistant/home-assistant
    container_name: homeassistant
    restart: always
    ports:
      - 7006:8123
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1
      - /dev/ttyACM0:/dev/ttyACM0
    volumes:
      - ${USERDIR}/docker/homeassistant:/config
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    priviledged: true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# --------------- Mariadb ------------------
  mariadb:
    image: linuxserver/mariadb
    container_name: mariadb
    hostname: mariadb
    restart: always
    volumes:
      - ${USERDIR}/docker/mariadb:/config
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        mode: host
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# ==========================================
# ||                Media                 ||
# ==========================================

# ----------------- Plex -------------------

# ---------------- Sonarr ------------------

# ---------------- Radarr ------------------

# ---------------- Sabnzbd -----------------

# ------------- Transmission ---------------

# --------------- Tautulli -----------------

# ----------------- Ombi -------------------

# --------------- Organizr -----------------

# --------------- NzbHydra -----------------

# --------------- Jackett ------------------
