version: '3.6'
services: 

# ==========================================
# ||             Management               ||
# ==========================================

# -------------- Portainer -----------------
  portainer:
    image: portainer/portainer
    container_name: portainer
    restart: always
    ports:
      - 7000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${USERDIR}/docker/portainer/data:/data
      - ${USERDIR}/docker/shared:/shared
    command: -H unix:///var/run/docker.sock
    environment:
      - TZ=${TZ}

# -------------- Watchtower ----------------
  watchtower:
    image: v2tec/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --schedule "0 0 4 * * *" --cleanup

# -------------- PhpMyAdmin ----------------
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    links:
      - mariadb:db
    ports:
      - 7001:80
    environment:
      - PMA_HOST=mariadb
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      
# ----------------- Guacd -------------------
  guacd:
    image: guacamole/guacd
    container_name: guacd
    restart: always


# ------------ Guacamole Server -------------
  guacamole:
    image: guacamole/guacamole
    container_name: guacamole
    restart: always
    links:
      - guacd:guacd
    ports:
      - 7003:8080
    volumes:
      - /${USERDIR}/docker/guacamole:/guac-home
    environment:
      - GUACAMOLE_HOME=/guac-home


# ==========================================
# ||                Misc                  ||
# ==========================================

# --------------- Nextcloud ----------------
  nextcloud:
    image: nextcloud
    container_name: nextcloud
    restart: always
    ports:
      - 7005:80
    links:
      - mariadb:db
    volumes:
      - ${USERDIR}/docker/nextcloud:/config
      - ${USERDIR}/shared_data:/data
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}


# ------------ Home Assistant --------------
  homeassistant:
    image: homeassistant/home-assistant
    container_name: homeassistant
    restart: always
    ports:
      - 7006:8123
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1
      - /dev/ttyACM0:/dev/ttyACM0
    volumes:
      - ${USERDIR}/docker/homeassistant:/config
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    privileged: true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# --------------- Mariadb ------------------
  mariadb:
    image: linuxserver/mariadb
    container_name: mariadb
    hostname: mariadb
    restart: always
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        mode: host
    volumes:
      - ${USERDIR}/docker/mariadb:/config
      - ${USERDIR}/docker/mariadb/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
 
 # -------------- Mumble ----------------
  mumble:
    image: coppit/mumble-server
    container_name: mumble
    restart: always
    ports:
      - 64738:64738
      - 64738:64738/udp
    volumes:
      - ${USERDIR}/docker/mumble:/data


# ==========================================
# ||                Media                 ||
# ==========================================

# ----------------- Plex -------------------
  plex:
    image: plexinc/pms-docker
    container_name: plex
    restart: always
    ports:
      - 7020:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    volumes:
      - ${USERDIR}/docker/plex:/config
      - ${USERDIR}/downloads/plex_tmp:/transcode
      - ${USERDIR}/media:/media
      - ${USERDIR}/docker/shared:/shared
    environment:
      - TZ=${TZ}
      - HOSTNAME="Andrew's Plex"
      - PLEX_CLAIM="claim-94pzwPAT1aK46j9ZjisL"
      - PLEX_UID=${PUID}
      - PLEX_GID=${PGID}

# ---------------- Sonarr ------------------
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    restart: always
    ports:
      - 7013:8989
    volumes:
      - ${USERDIR}/docker/sonarr:/config
      - ${USERDIR}/downloads:/downloads
      - ${USERDIR}/media/tv:/tv
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro


# ---------------- Radarr ------------------
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    restart: always
    ports:
      - 7012:7878
    volumes:
      - ${USERDIR}/docker/radarr:/config
      - ${USERDIR}/downloads:/downloads
      - ${USERDIR}/media/movies:/movies
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# ---------------- Sabnzbd -----------------
  sabnzbd:
    image: linuxserver/sabnzbd
    container_name: sabnzbd
    restart: always
    ports:
      - 7011:8080
    volumes:
      - ${USERDIR}/docker/sabnzbd:/config
      - ${USERDIR}/downloads/nzb/complete:/downloads
      - ${USERDIR}/downloads/nzb/incomplete:/incomplete-downloads
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# ------------- Transmission ---------------
  transmission:
    image: linuxserver/transmission
    container_name: transmission
    restart: always
    ports:
      - 7010:9091
      - 51413:51413
      - 51413:51413/udp
    volumes:
      - ${USERDIR}/docker/transmission:/config
      - ${USERDIR}/downloads/torrents:/downloads
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# --------------- Tautulli -----------------
  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    restart: always
    ports:
      - 7014:8181
    volumes:
      - ${USERDIR}/docker/tautulli/config:/config
      - ${USERDIR}/docker/tautulli/logs:/logs:ro
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# ----------------- Ombi -------------------
  ombi:
    image: linuxserver/ombi
    container_name: ombi
    restart: always
    ports:
      - 7015:3579
    volumes:
      - ${USERDIR}/docker/ombi:/config
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# --------------- Organizr -----------------
  organizr:
    image: lsiocommunity/organizr
    container_name: organizr
    restart: always
    ports:
      - 7002:80
    volumes:
      - ${USERDIR}/docker/organizr:/config
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}


# --------------- NzbHydra -----------------
  nzbhydra:
    image: linuxserver/hydra
    container_name: nzbhydra
    restart: always
    ports:
      - 7016:5075
    volumes:
      - ${USERDIR}/docker/nzbhydra:/config
      - ${USERDIR}/downloads:/downloads
      - ${USERDIR}/docker/shared:/shared
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}

# --------------- Jackett ------------------
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    restart: always
    ports:
      - 7017:9117
    volumes:
      - ${USERDIR}/docker/jackett:/config
      - ${USERDIR}/downloads:/downloads
      - ${USERDIR}/docker/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    
