defaultEntryPoints = ["http", "https"]

# Enable and setup the admin panel
[web]
address = ":8080"
  [web.auth.basic]
  users = ["andr3wrulz:$apr1$82hBSr/f$mckMJO5Ri816FuR97le6Z."]

# These rules determine how to route http/https requests
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

# Let's Encrypt setup
[acme]
email = "geltz.andrew@gmail.com"
storage = "/acme.json"
entryPoint = "https"
onHostRule = true
onDemand = false
  [acme.httpChallenge]
  entryPoint = "http"

# Connection to docker host system (docker.sock)
[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "andrewgeltz.com"
watch = true
